body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 1rem 0;
  background-color: #333;
  text-align: center;
}

h1 {
  color: white;
}

.nav {
  background-color: #444;
  padding: 0.5rem;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nav ul li a:hover {
  color: #add8e6;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  padding: 5px;
}

.main-content figure {
  margin: 0;
}

.main-content img {
  width: 100%;
  height: auto;
}

.main-content figcaption {
  text-align: center;
}

.aside {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 20px;
}

.aside h2 {
  font-size: 2rem;
}

.aside ul {
  padding-left: 5px;
}

.aside ul li {
  list-style: none;
}

.aside a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.aside a:hover {
  color: blue;
}

.footer {
  padding: 0.5rem 0;
  background-color: #333;
  text-align: center;
  color: white;
}
